@charset "IBM866";
/* NAV */
.nav { width: 100%; background: #221952; position: relative; }
.nav ul { width: 970px; margin: 0 auto; list-style: none; overflow: hidden; }
.nav ul li { height: 38px; line-height: 38px; float: left; border-left: 1px solid #484275; }
.nav ul li:hover ul { display: block; }
.nav ul li:hover ul li a { display: block; }
.nav ul li:hover a { text-decoration: none; background-color: #dcf1fb; color: #221952; }
.nav ul li a { color: #fff; font: 14px Arial,sans-serif; font-weight: bold; text-decoration: none; padding: 0 24px; height: 38px; line-height: 38px; display: inline-block; }
.nav ul li ul { display: none; position: absolute; background-color: #dcf1fb; height: auto; width: auto; padding: 0px 20px 0; top: 37px; z-index: 3000; }
.nav ul li ul li { float: none; background-color: #dcf1fb; border-top: 1px dotted #b7dbf5; padding: 0; border-left: none; height: 21px; line-height: 21px; }
.nav ul li ul li:first-child { border-top: none; }
.nav ul li ul li:last-child { border-top: none; }
.nav ul li ul li a { height: 20px; line-height: 20px; font-size: 13px; color: #221952; padding: 0; display: block; border-top: #dcf1fb; }
.nav ul li ul li a:hover { border-top: 1px solid #f0f8fd; background: #FFF; line-height: 18px; }
.nav ul li.nav__small { border-left: 0; }
.nav ul li.nav__small a { font-size: 12px; }
.nav li.nav__select { background-color: #eb2593; position: relative; }
.nav li.nav__select:after { content: ""; background: url('../img/icons-sf5f82424a8.png') 0 -1201px no-repeat; width: 9px; height: 38px; position: absolute; right: -9px; top: 0; }
.nav li.nav__select:hover:after { width: 0px; height: 0px; border-style: solid; border-width: 38px 9px 0 9px; border-color: #dcf1fb transparent transparent transparent; position: absolute; right: -9px; top: 0; }

.all { height: 21px; line-height: 21px; padding-top: 30px; display: inline-block; text-decoration: underline; border-top: none; }
.all a { text-decoration: underline; }
.all a:hover { text-decoration: none; }

.wrap-header { height: 79px; margin: 0 auto; position: relative; background: #fff; }
.wrap-header:after { content: ""; position: absolute; left: 140px; right: 140px; bottom: 0px; height: 50px; border-radius: 60px/20px; z-index: -1; -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1); }

/* header*/
.header { width: 970px; margin: 0 auto; position: relative; left: -7px; padding: 18px 0 0; background: #fff; }
.header .logo { background: url('../img/icons-sf5f82424a8.png') 0 0 no-repeat; width: 212px; height: 50px; margin-right: 55px; display: inline-block; vertical-align: top; font: 0/0 a; }

.separator { padding: 0 0px 0 8px; }

.search { position: relative; display: inline-block; vertical-align: top; }
.search input { width: 198px; padding: 4px 9px; border: 1px solid #c2c2c2; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; background-color: #fff; -moz-box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.1); -webkit-box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.1); box-shadow: inset 1px 2px 4px rgba(0, 0, 0, 0.1); }
.search button { background: url('../img/icons-sf5f82424a8.png') 0 -878px no-repeat; width: 14px; height: 15px; position: absolute; right: 7px; top: 6px; cursor: pointer; border: none; }
.search button span { display: none; line-height: 1; }

.icons { display: inline-block; vertical-align: top; margin: 0 34px 0 14px; }
.icons a { display: inline-block; vertical-align: middle; }

ul.reg { display: inline-block; vertical-align: top; list-style: none; padding-top: 5px; }
ul.reg li { float: left; color: #7f7f7f; padding: 0 0 0 13px; }
ul.reg li a { text-decoration: none; color: #7f7f7f; }
ul.reg li a:hover { text-decoration: underline; }

.radio { display: inline-block; position: relative; top: -7px; left: 47px; cursor: pointer; }
.radio .radio__img { background: url('../img/icons-sf5f82424a8.png') 0 -110px no-repeat; width: 42px; height: 42px; display: inline-block; }
.radio .radio__descr { width: 73px; color: #221952; line-height: 27px; height: 27px; display: inline-block; background-color: #a3d1f3; border-radius: 0 4px 4px 0; background-color: #8dd2f5; padding-left: 6px; padding-right: 12px; position: absolute; top: 7px; left: 41px; }
.radio .radio__descr:hover { text-decoration: underline; }
