@charset "IBM866";
.conteiner { width: 970px; margin: 0 auto; }

/* SCEOLLABLE */
.wrap-scrollable { margin: 15px 0 25px; }
.wrap-scrollable h2 { display: inline-block; text-transform: uppercase; font-size: 20px; font-weight: bold; color: #ca2a8f; vertical-align: middle; }

.scrollable { display: inline-block; vertical-align: middle; }
.scrollable .scrollable__prew { display: inline-block; background: url('../img/icons-s37d9fa5243.png') 0 -640px no-repeat; width: 20px; height: 27px; }
.scrollable .scrollable__next { display: inline-block; background: url('../img/icons-s37d9fa5243.png') 0 -603px no-repeat; width: 20px; height: 27px; }
.scrollable ul { overflow: hidden; display: inline-block; list-style: none; }
.scrollable ul li { height: 27px; line-height: 27px; margin: 0 2px; float: left; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-background-clip: padding; -moz-background-clip: padding; background-clip: padding-box; background-color: #a2d1f3; }
.scrollable ul li a { padding: 0px 13px; display: block; color: #251f51; font-weight: bold; text-decoration: none; }
.scrollable ul li a:hover { text-decoration: underline; }

/* GENERAL NEWS */
.general-news { position: relative; display: inline-block; }
.general-news .general-news__note { display: inline-block; position: absolute; top: -2px; left: 0px; }
.general-news .title { margin-right: 13px; margin-top: 13px; }
.general-news h2 { display: inline-block; color: #ca2a8f; font-size: 24px; font-weight: bold; vertical-align: bottom; margin-left: 4px; }
.general-news .general-news__descr { width: 405px; height: 40px; margin-left: 25px; margin-top: 10px; color: #FFF; overflow: hidden; font-size: 14px; line-height: 1.2; }
.general-news .general-news__descr:after { content: ""; margin-left: 5px; width: 0px; height: 0px; border-style: solid; border-width: 5px 0 5px 9px; border-color: transparent transparent transparent #ffffff; display: inline-block; }

/* SLIDER NEWS */
.seconary-news { padding: 30px 0; border-bottom: 1px solid #dcdcdc; }

/* SUPER NEWS */
.super-news { width: 395px; float: left; position: relative; }
.super-news .super-news__img { width: 395px; height: 265px; line-height: 265px; background-color: #000; margin-bottom: 11px; }
.super-news .super-news__img img { max-width: 395px; max-height: 265px; vertical-align: middle; }
.super-news .super-news__next { display: inline-block; background: url('../img/icons-s37d9fa5243.png') 0 -264px no-repeat; width: 24px; height: 24px; position: absolute; top: 228px; left: 356px; }
.super-news .super-news__text { font-size: 18px; line-height: 1.2; }

/* LIST NEWS */
ul.list-news { height: 360px; list-style: none; float: right; background: url(../img/bord_shadow.png) -1px 0 repeat-y; }
ul.list-news li { width: 215px; margin-left: 19px; border-top: 1px solid #ebebeb; border-bottom: 1px solid #ebebeb; background: #FFF; position: relative; }
ul.list-news li:hover:before { content: ""; width: 15px; height: 21px; display: block; position: absolute; top: 20px; left: -20px; background: url(../img/bord_arrow.png) 0px 0px no-repeat; }
ul.list-news li:last-child { border-bottom: none; }
ul.list-news .meta { padding: 5px 0 2px; font-size: 11px; color: #777; }
ul.list-news .meta a { color: #777; text-decoration: underline; }
ul.list-news .meta a:hover { text-decoration: none; }
ul.list-news .meta a.comments { padding-left: 2px; }
ul.list-news .meta a.comments:before { content: ""; background: url('../img/icons-s37d9fa5243.png') 0 -914px no-repeat; width: 10px; height: 10px; display: inline-block; padding-right: 3px; vertical-align: middle; }
ul.list-news .body { padding-bottom: 14px; font-size: 14px; line-height: 1.2; color: #000; display: inline-block; }
ul.list-news .body:hover { font-weight: bold; text-decoration: none; }
ul.list-news .select { font-weight: bold; }

/* banners */
.banners { margin-top: 10px; margin-bottom: 30px; }
.banners img { max-width: 308px; max-height: 170px; }
.banners img:first-child { margin-right: 20px; }

/* preview */
.preview { border: 1px solid red; padding: 19px 14px; position: relative; }
.preview .preview__peple { width: 205px; display: inline-block; }
.preview .meta { font-size: 12px; color: #ca2a8f; }
.preview .meta span { color: #777; text-transform: uppercase; }
.preview h3 { font-size: 18px; margin-bottom: 10px; line-height: 1.2; }
.preview .preview__human { font-weight: bold; margin-bottom: 5px; color: #333; }
.preview .preview__human i { font-weight: normal; }
.preview .preview__img { display: inline-block; position: absolute; top: 90px; left: 220px; }
