@import "lib/base";
// SHORT HOWTO
// =======Sprites
// .whatever{
// 	@include sized-sprite($icons, badge_hit);
// 	@include retina{
// 		@include sized-sprite($icons, badge_new);
// 	}
// }
// =======animation example
// @include keyframes(rotate) {
//    from {
//       @include rotate(0);
//    }
//    to {
//       @include rotate(360);
//    }
// }
// =======animation usage
// body:hover{
// 	@include animation(rotate 200s linear infinite);
// }
//=======animations easing, see easings.net for full list and examples, tnx @ai
// 	transition: all 1.2s ceaser($ease-in);
//
// =======gradient example
// body{
// 	@include background-image(linear-gradient(#232323, #5c5c5c));
// }
// =======making bw-images
// img{@extend %gray;}
//
// ========= predefined media-queries: https://github.com/paranoida/sass-mediaqueries
// @min-screen(320){ css goes here}
// @max-screen(1000), @iphone5, @iphone4, @ipad-retina, @ipad, @hdpi - also available

// BTW these comments will not render into css
// for awesomeness use .🍺 class. Example:
// .🍺{beer:everything}





*{margin:0;padding:0;-webkit-text-size-adjust: none; }
body{
	font: {
		family: Arial,sans-serif;
		weight: normal;
		size: 12px;
	}
	line-height:1.4;
}
// resets
a img,fieldset{
	border:none;
	}
a{
	color:#000;
	&:hover{

	}
}
// common styles, these could be attached to any block with "@extend %wyswyg;"
%wyswyg{
	p{
		margin-bottom: 1em;
	}
	ul,ol{
		margin: 1em 2em;
		list-style: disc;
	}
	ol{
		list-style: decimal;
	}
	blockquote{
		margin: 1em 2em;
	}
	table{
		border-spacing: 0;
		border-collapse: collapse;
		width: 100%;
		td{
			border: 1px solid #ccc;
			padding: 5px;
		}
	}
}

// ELEMENTS


@mixin date{
	font-size: 12px;
	color: #eb2593;
	text-transform: uppercase;
}

.clr{
	clear: both;
}
a{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.title{
	height: 35px;
	line-height: 35px;
	padding: 0 4px 0 2px;
	display: inline-block;
	background: #eb2593;
	color: #fff;
	font-family: "Arial";
	font-size: 18px;
	font-weight: bold;
	position: relative;
	text-transform: uppercase;
	&:before{
		content: "";
		@include sized-sprite($icons, title-l);
		position: absolute;
		left: -10px;
		top: 0;
	}
	&:after{
		content: "";
		position: absolute;
		right: -9px;
		top: 0;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 17.5px 0 17.5px 9px;
		border-color: transparent transparent transparent #eb2593;
	}
}

.title_2{
	display: inline-block;
	background: #79caf0;
	color: #221952;
	position: absolute;
	top: -11px;
	left: 0;
	&:before{
		content: "";
		@include sized-sprite($icons, title-l2);
		position: absolute;
		left: -10px;
		top: 0;
	}
	&:after{
		content: "";
		display: inline-block;
		border-width: 0;
		@include sized-sprite($icons, nav_border2); 
	}
}
.title_pic{
	position: absolute;
	top: 12px;
	z-index: 100;
}
.title_2-2{
	display: inline-block;
	background: #79caf0;
	color: #221952;
	position: relative;
	z-index: 100;
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
	&:before{
		content: "";
		@include sized-sprite($icons, title-l2);
		position: absolute;
		left: -10px;
		top: 0;
	}
	&:after{
		content: "";
		display: inline-block;
		border-width: 0;
		@include sized-sprite($icons, nav_border2);
	}
}
.title_red{
	background: #eb2593;
	color: #FFF;
	&:before{
		content: "";
		@include sized-sprite($icons, title-l);
		position: absolute;
		left: -8px;
		top: 0;
	}
	&:after{
		content: "";
		@include sized-sprite($icons, title-r);
		position: absolute;
		right: -8px;
		top: 0;
	}
}
.more{
	font-size: 11px;
	color: #eb2593;
	text-transform: uppercase;
}
.more_db{
	display: block;
	line-height: 1.6;
}
.more_12px{
	font-size: 12px;
	margin-top: 5px;
}
.time{
	font-size: 11px;
	color: #eb2593;
}

.meta{
	padding: 5px 0 2px;
	font-size: 11px;
	color: #777;
	a{
		color: #777;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	a.comments{
		padding-left: 2px;
		color: #777;
		&:before{
			content: "";
			@include sized-sprite($icons, comments);
			display: inline-block;
			padding-right: 3px;
			vertical-align: middle;
		}
	}
}

.wrap-button{
	text-align: center;
	.button{
		height: 27px;
		line-height: 27px;
		@include border-radius(4px);
		@include background-clip(padding-box);
		background-color: #8dd2f5;
		color: #000;
		font-size: 11px;
		text-transform: uppercase;
		display: inline-block;
		padding: 0 40px;
		font-weight: bold;
		&:hover{
			background-color: #c5e6f7;
			@include transition(all .3s ease-in-out);

		}
	}
	.button__p0-20{
		padding: 0 20px;
	}
	.button_m3-0-5{
		margin: 5px 0 3px;
	}
	.button_mt19{
		margin-top: 19px;
	}
	.button_interview{
		padding: 0 30px;
		margin-top: 15px;
	}
	.button_mt25{
		margin-top: 25px;
	}
	.button__ico{
		padding: 0 20px 5px 40px;
		background: url(../img/ico_mess.png) 11px 12px no-repeat #8dd2f5;
		line-height: 34px;
		color: #221952;
	}
	.button_gray{
		background: #c7c7c7;
		color: #fff;
		font-weight: bold;
		&:hover{
			background: #868686;
			@include transition(all .3s ease-in-out);
		}
	}
}
.wrap-button_dib{
	display: inline-block;
}
.button_tl{
	text-align: left;
}
.anonse{
	font-size: 12px;
	overflow: hidden;
	margin-bottom: 5px;
	margin-top: 5px;
	.anonse__date{
		@include date;
		padding-right: 15px;
		font-style: normal;
		float: left;
		span{
			color: #777;
			font-size: 11px;
		}
	}
	.anonse__descr{
		width: 200px;
		font-weight: normal;
		float: left;
		cursor: pointer;
		text-decoration: none;
		color: #000;
		&:hover{
			text-decoration: underline;
		}
	}
	.anonse__descr_w{
		width: auto;
	}
}
.ololo-1{
	height: 20px;
	line-height: 20px;
	padding: 0 3px 0 5px;
	background-color: #a3cbe9;
	color: #221952;
	position: absolute;
	top: 10px;
	left: 0;
	@include box-shadow(2px 3px 0 rgba(0,0,0,.41));
	&:after{
		content: "";
		@include sized-sprite($icons, ololo-border);
		position: absolute;
		top: 0;
		right: -11px;
	}
}
.foto-user .ololo-1_big{
	top: 30px;
	height: 26px;
	font-size: 14px;
	text-transform: uppercase;
	position: absolute;
	line-height: 27px;
	@include box-shadow(0px 3px 0 rgba(0,0,0,.41));
	&:after{
		content: "";
		@include sized-sprite($icons, ololo-border3);
		@include box-shadow(0px 3px 0 rgba(0,0,0,.41));
		position: absolute;
		top: 0;
		right: -9px;
	}
}
.foto-user__general .ololo-1_pos, .Photo-Album .ololo-1_pos{
	top: 7px;
}
.foto-user__meta{
	position: absolute;
	top: 32px;
	right: 4px;
	padding: 0 8px;
	color: #FFF;
	 font-size: 11px;
	 height: 20px;
	 line-height: 20px;
	 background: #52759f;
}
.foto-user__meta_pos{
	top: 9px;
	right: 0;
}
.foto-user__meta_black{
	background: rgba(0, 10, 57, 0.4);
}
.super-arrow{
	content: "";
	display: inline-block;
	@include sized-sprite($icons, strelka);
	position: absolute;
	top: 100px;
	left: 161px;
}
.super-arrow_tw{
	top: 140px;
	left: 226px;
}
.my__arrow{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 0 8px 9px;
	border-color: transparent transparent transparent #94c9ee;
}
.sexy-title{
	background: url(../img/sexy-title.png) 0 0 no-repeat;
	background-repeat: repeat-x repeat-y;
	background-size: 100% 100%;
	display: inline-block;
	color: #FFF;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: bold;
	line-height: 39px;
	padding: 0 10px;
	position: relative;
	&:after{
		content: "";
		@include sized-sprite($icons, sexy-title_ar);
		position: absolute;
		bottom: -11px;
		left: 5px;
	}
}
.sexy-title_pos{
	top: -9px;
	left: -22px;
}
.share{
	vertical-align: middle;
	span{
		color: #777;
		font-size: 11px;
		line-height: 1.2;
	}
	.share__item{
		display: inline-block;
		vertical-align: middle;
		margin: 0 1px;
	}
	.share__hz1{
		@include sized-sprite($icons, ico_xz);
	}
	.share__vk{
		@include sized-sprite($icons, ico_vk);
	}
	.share__fb{
		@include sized-sprite($icons, ico_fb);
	}
	.share__tw{
		@include sized-sprite($icons, ico_tw);
	}
	.share__xz2{
		@include sized-sprite($icons, ico_xz2);
	}
	.share__goo{
		@include sized-sprite($icons, ico_goo);
	}
	.share__xz3{
		@include sized-sprite($icons, ico_xz3);
	}
}
.share_mb10{
	margin-bottom: 10px;
}
.mail{
	color: #eb2593;
}
i.letter{
	width: 16px;
	height: 10px;
	background: url(../img/ico_mess.png) no-repeat;
	display: inline-block;
}
.mb20{
	margin-bottom: 20px;
}
.mb10{
	margin-bottom: 10px;
}
.m-10-0-10{
	margin: 10px 0 10px !important;
}
.db{
	display: block !important;
}
.fl_l{
	float: left;
}