@import "lib/base";
// styles for mainpage

/////////////////// * page MORE  *////////////

//entry
.entry{
	font-size: 14px;
	border-bottom: 1px solid #dcdcdc;
	padding-bottom: 20px;
	.h1{
		font-size: 29px;
		color: #221952;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1.2;
		span{
			font-weight: normal;
		}
	}
	.h2{
		font-size: 20px;
		text-transform: uppercase;
		display: inline-block;
		margin: 15px 0 5px;
		// fix margin: 10px 0 5px;
	}
	.h3{
		font-size: 18px;
		font-weight: bold;
		margin: 5px 0;
	}
	.h4{
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 15px;
	}
	.efir-time{
		display: inline-block;
		font-weight: bold;
		float: right;
		font-size: 12px;
		margin-top: 5px;
		text-align: right;
		.efir-time__time{
			color: #221952;
			text-transform: uppercase;
		}
	}
	.entry__text{
		line-height: 1.2;
		padding: 15px 0;
	}
	.entry__video{
		margin: 20px 0 10px;
	}
	.entry__video_alt{
		margin: 0px 0 10px;
	}
	p{
		padding: 10px 0;
		line-height: 1.2;
	}
	.all-news .all-news__item{
		font-size: 12px;
	}
}
.entry_bb{
	border-bottom: none;
}
.entry__descr{
	float: right;
	color: #787878;
	font-size: 11px;
	margin-top: 17px;
}
// foto-user
.foto-user{
	padding: 15px 0 20px;
	border-bottom: 1px solid #dcdcdc;
	position: relative;
	.foto-user__img{
		width: 640px;
		overflow: hidden;
		margin-bottom: 10px;
		img{
			max-width: 640px;
			vertical-align: middle;
		}
	}
	.foto-user__img_slider{
		width: 580px;
		&:hover{
			cursor: pointer;
		}
	}
	.foto-user__img_average{
		width: 420px;
		height: 294px;
		display: block;
		img{
			max-width: 420px;
			min-height: 294px;
			&:hover{
				cursor: pointer;
			}
		}
	}
}
.foto-user_slider{
	margin: 0 30px;
}
.foto-user_list{
	margin-right: -18px;
	border-bottom: none;
}
.ololo-1_slider{
	top: 5px;
}
.foto-user__meta_slider{
	top: 8px;
	right: 0;
}
// perquisition
.perquisition{
	margin-bottom: 40px;
	.h2{
		width: 640px;
		padding-bottom: 5px;
		margin-bottom: 12px;
		display: inline-block;
		border-bottom: 1px solid #dcdcdc;
		font-size: 18px;
		font-weight: bold;
		color: #221952;
		text-transform: uppercase;
	}
	.perquisition__entry{
		padding: 0 15px;
		line-height: 1.2;
	}
	.perquisition__meta{
		font-weight: bold;
		font-size: 14px;
		margin-bottom: 8px;
	}
	.perquisition__inp{
		display: block;
		input{
			vertical-align: middle;
			margin: 5px 7px 5px 0;
		}
	}
}

// soc-comm
.soc-comm{
	overflow: hidden;
	font-size: 14px;
	border-bottom: 1px solid #ebebeb;
	padding-top: 15px;
	padding-bottom: 10px;
	.soc-comm__top{
		margin: 3px 5px;
	}
	.soc-comm__ico{
		display: inline-block;
		float: left;
		margin-right: 7px;
	}
	.soc-comm__user{
		float: left;
		color: #2c295a;
		line-height: 1.2;
	}
	.soc-comm__day{
		float: right;
		font-size: 11px;
		color: #777;
	}
	.soc-comm__text{
		margin-right: 30px;
		line-height: 1.3;
	}
}
.soc-form{
	width: 565px;
	min-height: 152px;
	padding: 20px 20px 15px;
	margin-top: 20px;
	background: #e9e9e9;
	textarea{
		min-width: 485px;
		min-height: 100px;
		display: block;
		padding: 5px 10px;
		font-size: 11px;
		resize: vertical;
	}
	input{
		display: block;
	}
	.sub{
		height: 27px;
		padding: 0 23px;
		margin-top: 15px;
		@include border-radius(4px);
		background-color: #858585;
		font-size: 11px;
		color: #FFF;
		text-transform: uppercase;
		cursor: pointer;
		border: 0;
		&:hover{
			background: #a0a0a0;
			@include transition(all .3s ease-in-out);

		}
	}
}

// r
.micro-news{
	line-height: 1.2;
	border-bottom: 1px solid #9b9b9b;
	padding-bottom: 10px;
	.micro-news__title{
		font-size: 14px;
		font-weight: bold;
		margin: 5px 0;
		color: #000;
		display: block;
		&:hover{
			text-decoration: underline;
			cursor: pointer;
		}
	}
}
.qq-preview{
	font-size: 14px;
	margin-top: 9px;
	i{
		@include date;
		font-style: normal;
		font-size: 10px;
		display: block;
	}
}

/////////////////// * page PROGRAMS  *////////////


.mar0-0-15{
	margin: 0 0 15px !important;
}
.mb-10{
	margin-bottom: 10px !important;
}
.mb25{
	margin-bottom: 25px !important;
}
//programm
.programm{
	margin-top: -4px;
	position: relative;
	h2{
		font-size: 29px;
		text-transform: uppercase;
		color: #221952;
		display: inline-block
	}
	.js-select-prog{
		width: 205px;
		height: 25px;
		padding: 0 10px;
		line-height: 25px;
		vertical-align: top;
		margin-top: 6px;
		color: #777;
		border: 1px solid #c2c2c2;
		@include border-radius(2px);
		background-color: #fff;
		@include box-shadow(inset 1px 2px 4px rgba(0,0,0,.1));
		display: inline-block;
		position: absolute;
		top: 0;
		right: 0;
		font-size: 12px;
		&:after{
			content: "";
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 5px 4.5px 0 4.5px;
			border-color: #221952 transparent transparent transparent;
			position: absolute;
			top: 12px;
			right: 8px;
		}
	}
	select{
		width: 227px;
		height: 27px;
		opacity: 0;
		margin-top: 6px;
		padding: 0 2px;
		line-height: 25px;
		position: absolute;
		top: 0;
		right: 0;
		vertical-align: top;
		color: #777;
		border: 1px solid #c2c2c2;
		@include border-radius(2px);
		background-color: #fff;
		@include box-shadow(inset 1px 2px 4px rgba(0,0,0,.1));
	}
	.programm__abc, .programm__abc{
		text-transform: uppercase;
		font-size: 16px;
		margin-top: 15px;
		display: inline-block;
		a{
			margin-right: 1px;
			color: #eb2593;
			cursor: pointer;
		}
		.gray{
			color: #c6c6c6;
		}
	}
	.programm__abc_eng{
		display: none;
	}
	.lang-wrap{
		display: inline-block;
		position: absolute;
		right: 0;
		bottom: 47px;
		text-transform: uppercase;
		.programm__lang{
			background: #a3d1f3;
			@include border-radius(4px);
			padding: 0px 15px;
			display: inline-block;
			color: #221952;
			font-weight: bold;
			text-decoration: none;
			height: 27px;
			line-height: 27px;
			font-size: 12px;
			color: #221952;
			// &:hover{
			// 	color: #FFF ;
			// 	background: #221952 ;
			// 	@include transition(all .3s ease-in-out);
			// }
		}
		.active{
			background: #221952 !important;
			color: #FFF;
		}
	}
	.programm__menu{
		height: 40px;
		margin: 13px 0 0;
		text-align: justify;
		font-size: 0;
		.align{
			width: 100%;
			// height: 0;
			background: none;
		}
		a{
			height: 27px;
			line-height: 27px;
			background: #eb2593;
			@include border-radius(4px);
			padding: 0px 15px;
			display: inline-block;
			color: #fff;
			font-weight: bold;
			text-decoration: none;
			font-size: 12px;
			text-transform: uppercase;
			margin-right: 1px;
			// &:hover{
			// 	color: #FFF ;
			// 	background: #221952 ;
			// 	@include transition(all .3s ease-in-out);
			// }
		}
	}
}
.programm__menu a.active{
	background: #221952;
	color: #FFF;
	@include transition(all .3s ease-in-out);
}

/////////////////// * page ABOUT  *////////////

// boss
.wrap-boss{
	margin-bottom: 30px;
	.wrap-button{
		.button_interview{
			margin-top: 27px;
		}
	}
}
.boss{
	padding: 14px 0;
	border-bottom: 1px solid #ddd;
	.biography{
		margin-top: 16px;
		p{
			margin-bottom: 10px;
			font-size: 14px;
		}
		p *{
			font-size: 14px;
		}
	}
}
.boss__img{
	width: 230px;
	height: 130px;
	line-height: 128px;
	background: #FFF;
	padding: 9px;
	border: 1px solid #e4e4e4;
	display: inline-block;
	overflow: hidden;
	vertical-align: top;
	img{
		max-width: 230px;
		height: 130px;
		vertical-align: middle;
	}
}
.boss__info{
	width: 375px;
	margin-left: 10px;
	display: inline-block;
}
.boss__fio{
	font-size: 18px;
	font-weight: bold;
}
ul.boss__list{
	margin-left: 15px;
	list-style: none;
	li{
		font-size: 14px;
		color: #777;
		position: relative;
		&:first-child{
			color: #221951;
		}
		&:before{
			content: "";
			display: inline-block;
			height: 6px;
			width: 6px;
			@include border-radius(3px);
			background: #eb2593;
			position: absolute;
			top: 6px;
			left: -12px;
		}
	}
}
ul.o-tw{
	padding: 0 0px 0 4px;
	color: #221952;
	list-style: none;
	li{
		// width: 120px;
		border-bottom: 1px dashed #9dd8f6;
		a{
			// width: 260px;
			font-size: 13px;
			color: #221952;
			padding: 0;
			display: block;
			font-weight: normal;
			&:hover{
				// width: 260px;
				background: #FFF;
				@include transition(all .3s ease-in-out);
				text-decoration: none;
			}
		}
		ul{
			list-style: none;
			li{
				&:first-child{
					border-top: 1px dashed #9dd8f6;
				}
				&:last-child{
					border-bottom: none;
				}
				a{
					padding-left: 10px;
					&:before{
						content: "-";
						margin-right: 3px;
					}
				}

			}
		}
	}

}
ul.o-tw_bb-none{
	li {
		border-bottom: none;
		a.sel{
			background: #FFF;
		}
	}
}

/////////////////// * page FAQ  *////////////


.quest-form{
	margin: 20px 0 25px;

	.quest-form__top{
		display: inline-block;
		height: 31px;
		line-height: 31px;
		padding: 0 30px;
		background: #221952;
		@include border-radius(3px 3px 0 0);
		font-size: 11px;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		b{
			color: #78c9f0;
		}
	}
	.quest-form__body{
		width: 610px;
		padding: 20px 20px 25px;
		background: #eaeaea;
		color: #000;
		font-size: 14px;
	}
}
.row{
	line-height: 27px;
	margin-bottom: 10px;
	label{
		float: left;
		width: 190px;
		span{
			color: #eb2593;
		}
	}
	input, textarea{
		width: 390px;
		padding: 0 10px;
		height: 27px;
		border: none;
		float: right;
	}
	textarea{
		min-height: 110px;
		max-width: 390px;
		padding: 10px;
	}
}
.row_captcha{
	.row_captcha__input{
		display: inline-block;
		position: relative;
		vertical-align: top;
		margin-right: 15px;
		margin-left: 10px;
		input{
			margin-bottom: 1px;
		}
	}
	input{
		width: 88px;
		float: left;
	}
	a.captcha{
		position: absolute;
		top: 30px;
		right: 0px;
		color: #eb2593;
	}
}
.row_lh15{
	line-height: 15px;
}
.row__note{
	color: #636363;
	font-size: 11px;
	span{
		color: #eb2593;
	}
}
// question
.question{
	padding: 8px 15px 1px !important;
	margin-bottom: 20px !important;
	.question__top{
		height: 25px;
		margin-bottom: 10px;
		font-size: 13px;
		color: #878787;
		border-bottom: 1px solid #ebebeb;
		b{
			color: #221951;
		}
		span.question__town{
			font-weight: bold;
		}
	}
	.question__top_2{
		border-bottom: 1px solid #fff;
	}
	.question__date{
		float: right;
		font-size: 11px;
		color: #787878;
	}
	.question__message{
		padding-bottom: 15px;
		font-size: 14px;
		line-height: 1.2;
		color: #000;
		a{
			color: #eb2593;
		}
	}
	.question__answer{
		background: #eaeaea;
		margin: 0 -14px;
		padding: 10px 15px 20px;
		.question__message{
			padding-bottom: 1px;
		}
	}
}

/////////////////// * page ONVILE  *////////////
.title-with-border{
	position: relative;
}
.title-with-border_ts-alt{
	margin-top: 15px;
	margin-bottom: 20px;
}
.title-with-border_ts-alt2{
	margin-top: 40px;
	margin-bottom: 15px;
}
i.border{
	display: inline-block;
	width: 640px;
	background-color: #dddddd;
	height: 1px;
	position: absolute;
	top: 18px;
	left: 0;
}
// tw-show
.tw-show{
	position: relative;
	margin: 10px 0 25px;
	font-size: 14px;
}
.tw-show__item{
	margin: 9px 0;
	display: block;
	color: #000;
	.tw-show__top{
		padding-bottom: 2px;
		text-transform: uppercase;
	}
	.tw-show__time{
		color: #eb2593;
		&:after{
			content: " / ";
		}
	}
}
.tw-show_alt{
	width: 510px;
	margin-left: 30px;
}
.tw-show__item_gr{
	color: #787878;
	.tw-show__time{
		color: #787878;
	}
}
.wrap-tw-show__item_active{
	position: relative;
}
.tw-show__item_active{
	padding: 10px 20px 10px 30px;
	background: #EB2593;
	color: #FFF;
	font-weight: bold;
	margin-left: -30px;
	margin-top: 18px;
	position: relative;
	&:before{
		content: "";
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 0 10px 10px 0;
		border-color: transparent #221952 transparent transparent;
		display: block;
		position: absolute;
		bottom: -10px;
		left: 0px;
	}
	.tw-show__time{
		color: #fff;
	}
}
.mt15{
	margin-top: 15px;
}
// foto-user__general
.foto-user__general{
	width: 420px;
	position: relative;
	float: left;
	display: inline-block;
	.wrap__meta{
		width: 94%;
		padding: 0 3%;
		font-size: 12px;
		line-height: 1.4;
		background: rgba(0, 10, 57, 0.4);
		color: #FFF;
		font-weight: bold;
		position: absolute;
		bottom: 37px;
		left: 0;
	}
	.etc{
		position: static;
	}
}
.photo-album{
	display: block;
	img{
		height: 133px;
		width: 199px;
		display: inline-block;
		&:hover{
			cursor: pointer;
		}
	}
	.wrap__meta{
		width: 94%;
		padding: 0 3%;
		font-size: 12px;
		line-height: 1.4;
		background: rgba(0, 10, 57, 0.4);
		color: #FFF;
		font-weight: bold;
		position: absolute;
		bottom: 32px;
		left: 0;
	}
}
.photo-album-wrap{
	width: 199px;
	height: 165px;
	position: relative;
	float: right;
	margin: 0px 20px 0px 0px;
}
.etc{
	.meta{
		padding: 0px 0 12px;
		float: left;
	}
	.count{
		float: right;
		font-size: 11px;
		color: #777;
	}
}
.foto-meta{
	display: inline-block;
	float: right;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}
.foto-meta_slider{
	margin-top: 25px;
	margin-right: 30px;
}
// photo-more
.photo-more{
	width: 580px;
	//height: 330px;
	margin: 15px 30px;
	padding: 0;
	position: relative;
	&:hover{
		cursor: pointer;
	}
	.photo-more__wrap{
		width: 580px;
		height: 400px;
		position: relative;
		overflow: hidden;
	}
	.photo-more__wrap_ts-alt{
		height: 330px;
	}
	.photo-more__items{
		width: 2000em;
		position: absolute;
	}
	.photo-more__item{
		display: inline-block;
		position: relative;
		img{
			width: 580px;
			height: 328px;
			vertical-align: middle;
		}
	}
}
// $(".tab-item-2").show();
.photo-more_ts-alt{
	margin: 15px 30px 0;
}
.photo-more__navi{
	.photo-more__prev, .photo-more__next{
		height: 103px;
		width: 20px;
		background: #78c9f0;
		position: absolute;
		top: 111px;
		@include border-radius(3px);
		display: block;
		&:hover{
			@include transition(all .3s ease-in-out);
			background: rgb(85, 184, 231)		}
	}
	.photo-more__prev{
		left: -30px;
		&:after{
			content: "";
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 6.5px 8px 6.5px 0;
			border-color: transparent #fff transparent transparent;
			position: absolute;
			top: 45px;
			right: 7px;
		}
	}
	.photo-more__next{
		right: -30px;
		&:after{
			content: "";
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 6.5px 0 6.5px 8px;
			border-color: transparent transparent transparent #fff;			position: absolute;
			top: 45px;
			left: 7px;
		}
	}
}
////////////////////////// PAGE talk_show /////////
// entry__active-efir
.entry__active-efir{
	line-height: 35px;
	width: 640px;
	.entry__active-left{
		float: left;
		text-transform: uppercase;
		font-weight: bold;
		span{
			margin-right: 5px;
			line-height: 41px;
		}
	}
	.wrap-button{
		float: right;
	}
	.wrap-button_red{
		.button{
			background: #eb2593;
			color: #FFF;
			@include transition(all .3s ease-in-out);
			&:hover{
				background: #d52c8a;
				@include transition(all .3s ease-in-out);

			}
		}
	}
}
dl{
	margin: 7px 0;
	@extend %clr;
	dt{
		color: #eb2593;
		font-weight: bold;
		text-transform: uppercase;
		width: 100px;
		float: left;
	}
	dd{
		margin-left: 100px;
		i{
			font-style: normal;
			color: #707070;
		}
	}

}
//quest-form_alt
.quest-form_alt{
	width: 340px;
	position: relative;
	display: none;
	.quest-form__wrap{
		width: 380px;
		background: #FFF;
		@include border-radius(1px);
		padding: 20px 30px;
		@include box-shadow(0 0 6px rgba(0,0,0,.26));
		z-index: 1000;
		position: absolute;
		top: 10px;
		right: -365px;
	}
	.quest-form__body{
		width: 340px;
		margin-bottom: 20px;
	}
	.row{
		label{
			width: 75px;
		}
		input{
			width: 240px;
		}
		textarea{
			max-width: 320px;
		}
	}
	.row_captcha{
		label{
			width: 115px;
		}
		input{
			width: 63px;
			border: 1px solid #adadad;
		}
		.captcha{
			font-size: 12px;
			text-decoration: underline;
			&:hover{
				text-decoration: none;
			}
		}
		.row_captcha__input{
			margin-left: 0;
		}
	}
	.wrap-button{
		.button_gr{
			background: #878787;
			color: #fff;
		}
	}
	.quest-form__top{
		padding: 0;
		color: #221951;
		font-weight: bold;
		background: none;
	}
	.close{
		position: absolute;
		top: 20px;
		right: 30px;
		width: 19px;
		height: 19px;
		background: url(../img/close.jpg) 0 0 no-repeat;
	}
}
/////////////	page SHEDULE ///////////////

//tabs
.wrap-tabs{
	width: 476px;
	margin-top: 35px;
	padding: 0 30px;
	position: relative;
	border-bottom: 4px solid #eaeaea;
	.tabs__wrap{
		width: 482px;
		overflow: hidden;
		position: relative;
		height: 60px;
	}
	.disabled{
		opacity: .3;
		cursor: default;
	}
	ul.tabs{
		list-style: none;
		@extend %clr;
		width: 20000em;
		position: absolute;
		left: 0;
		li{
			width: 62px;
			height: 27px;
			padding: 6px 0 4px;
			@include border-radius(3px 3px 0 0);
			margin-left: 7px;
			float: left;
			background: #eaeaea;
			@include transition(all .1s ease-in-out);
			&:first-child{
				margin-left: 0px;
			}
		}
		a{
			font-size: 11px;
			color: #000;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			&:hover{
				text-decoration: none;
				color: #221952;
			}
		}
		.active{
			background: #8dd2f5;
			@include transition(all .1s ease-in-out);
		}
	}
	.tabs__prev, .tabs__next{
		width: 0px;
		height: 0px;
		border-style: solid;
		position: absolute;
		top: 11px;
		display: block;
	}
	.tabs__prev{
		border-width: 6.5px 8px 6.5px 0;
		border-color: transparent #7d8081 transparent transparent ;
		left: 6px;
	}
	.tabs__next{
		border-width: 6.5px 0 6.5px 8px;
		border-color: transparent transparent transparent #7d8081;
		right: 6px;

	}
}
/////////////	page LOGIN ///////////////

// login-form
.login-form{
	position: relative;
	// display: none;
	.login-form__wrap{
		width: 470px;
		position: absolute;
		top: -92px;
		right: 262px;
		z-index: 1000;
		padding: 20px 35px 35px;
	}
	.login-form__top{
		padding: 0;
		color: #000;
		font-weight: bold;
		background: none;
		display: inline-block;
		font-size: 11px;
		@include border-radius(3px);
		.login-form__enter{
			text-transform: uppercase;
			color: #221951;
		}
		.login-form__topper{
			font-size: 14px;
			margin-bottom: 20px;
		}
		.login-form__ico{
			margin-top: 15px;
			margin-bottom: 25px;
			font-size: 14px;
			font-weight: normal;
			text-align: center;
			.login-form__fb-ico,.login-form__tw-ico,.login-form__g-ico,.login-form__vk-ico,.login-form__od-ico{
				@include transition(all .2s ease-in-out);
				margin: 0px auto 5px;
				&:hover{
					opacity: 0.8;
					cursor: pointer;
					@include transition(all .2s ease-in-out);
				}
			}
			.login-form__fb-ico{
				@include sized-sprite($icons, fb_big);
			}
			.login-form__tw-ico{
				@include sized-sprite($icons, tw_big);
			}
			.login-form__g-ico{
				@include sized-sprite($icons, g_big);
			}
			.login-form__vk-ico{
				@include sized-sprite($icons, vk_big);
			}
			.login-form__od-ico{
				@include sized-sprite($icons, od_big);
			}
		}
	}
	.close{
		position: absolute;
		top: 20px;
		right: 30px;
		width: 19px;
		height: 19px;
		background: url(../img/close.jpg) 0 0 no-repeat
	}
	.login-form__body{
		margin: 15px 0 0px;
		padding: 20px 25px 25px;
		background: #eaeaea;
		color: #000;
		font-size: 14px;
		.row{
			margin-bottom: 15px;
		}
		label{
			width: 75px;
		}
		input{
			width: 220px;
			float: left;
		}
		.wrap-button{
			display: inline-block;
			margin-right: 20px;
			.button_gr{
				background: #878787;
				color: #fff;
				@include transition(all .3s ease-in-out);
				&:hover{
					background: #787979;
					@include transition(all .3s ease-in-out);
				}
			}
		}
		.pass{
			width: 85px;
			margin-left: 15px;
			float: left;
			font-size: 12px;
			color: #eb2593;
			line-height: 1.2;
		}
		.row_check{
			width: 100%;
			height: 15px;
			display: block;
			input{
				margin-left: 75px;
				width: 13px;
				height: 13px;
				line-height: 13px;
			}
			label{
				width: 125px;
				line-height: 13px;
				margin-left: 6px;
			}
		}
		.row_button{
			margin-left: 75px;
		}
	}
}
.login-form__fb, .login-form__tw, .login-form__g, .login-form__vk, .login-form__od{
	display: inline-block;
	margin-right: 30px;
}
.login-form__od{
	position: relative;
	right: 20px;
	margin-right: 0;
}
/////////////	page WORK ///////////////

// s-list
.entry{
	.s-list{
		margin-top: 15px;
		margin-bottom: 25px;
		padding: 25px 15px;
		.s-list__title{
			text-transform: uppercase;
			color: #221951;
			font-weight: bold;
			margin-bottom: 13px;
		}
	}
}
.quest-form_alt2{
	margin: 0 0 25px;
	.row{
		position: relative;
		line-height: 1;
		margin-bottom: 12px;
		label{
			padding-top: 2px;
		}
		input{
			width: 400px;
			float: left;
		}
		textarea{
			max-width: 400px !important;
			width: 400px;
			min-height: 40px;
			float: left;
		}
		.small{
			width: 55px;
		}
		.average{
			width: 245px;
		}
		.row__left{
			width: 190px;
			float: left;
			padding-top: 2px;
		}
		.row__right{
			width: 390px;
			float: left;
		}
		.row__right_alt{
			background: url(../img/icons/plus.png) 0 4px no-repeat;
			padding-left: 15px;
			margin-left: 160px;
			color: #eb2593;
		}
	}
	.row_captcha__input{
		margin-left: 0;
	}
	.js-select-post{
		width: 398px;
		height: 25px;
		padding: 0 10px;
		line-height: 25px;
		vertical-align: top;
		color: #777;
		border: 1px solid #93d4f4;
		@include border-radius(2px);
		background-color: #fff;
		@include box-shadow(inset 1px 2px 4px rgba(0,0,0,.1));
		display: inline-block;
		position: absolute;
		top: 0;
		left: 190px;
		font-size: 12px;
		&:after{
			content: "";
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 5px 4.5px 0 4.5px;
			border-color: #221952 transparent transparent transparent;
			position: absolute;
			top: 12px;
			right: 8px;
		}
	}
	.js-select-post__select{
		width: 420px;
		height: 27px;
		position: absolute;
		left: 190px;
		opacity: 0;
	}
}
// quest-form_alt2
.quest-form_alt2{
	.quest-form__body{
		padding: 15px 15px 40px;
		.quest-form__section{
			width: 610px;
			border-bottom: 1px solid #fff;
			margin: 0 0 15px;
			.quest-form__kid{
				width: 560px;
				padding: 20px 15px 5px 35px;
				margin-bottom: 15px;
				background: #f5f5f5;
				label{
					width: 75px;
				}
				input,textarea{
					max-width: 388px !important;
					width: 388px;
					border: 1px solid #d7d7d7;
					float: right;
				}
				.wrap-button_alt{
					margin-left: 12px;
				}
				.num{
					margin-left: -15px;
				}
				.average{
					width: 245px;
				}
			}
		}
	}
	.wrap-button{
		.button_gr{
			background: #878787;
			color: #fff;
			@include transition(all .3s ease-in-out);
			&:hover{
				background: #787979;
				@include transition(all .3s ease-in-out);
			}
		}
	}
	.row__meta{
		float: right;
		font-size: 11px;
		color: #636363;
	}
	.row_captcha-small{
		label{
			width: 185px;
		}
		input{
			width: 60px;
		}
		img{
			margin-top: 3px;
			margin-right: 10px;
		}
	}
	.pressbutton{
		margin-top: 30px;
		padding-left: 180px;
		.wrap-button{
			display: inline-block;
			margin-right: 25px;
		}
	}
}
/////////////	page talk_show-ALT ///////////////
.entry{
	.ss-picture-day{
		.picture-day_alt2{
			width: 575px;
			width: 565px;
			height: 115px;
			margin: 0 25px 0 29px;
			background: #FFF;
			.picture-day__item{
				width: 120px;
				margin: 0 20px 0 4px;
			}
			.picture-day__img{
				width: 120px;
				height: 86px;
				line-height: 86px;
				img{
					max-width: 120px;
					min-height: 86px;
				}
			}

		}

	}
	.ss-picture-day_white{
		height: 150px;
		padding: 0 18px 0 11px;
		margin-bottom: 20px;
		.picture-day__nav_mini{
			top: -85px;
			background: none;
			.picture-day__prew{
				left: -9px;
			}
			.picture-day__next{
				right: 9px;
			}
		}
	}
}


