@import "lib/base";
@mixin date{
	font-size: 12px;
	color: #eb2593;
	text-transform: uppercase;
}
.clr{
	clear: both;
}
a{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.title{
	height: 35px;
	line-height: 35px;
	padding: 0 4px 0 2px;
	display: inline-block;
	background: #eb2593;
	color: #fff;
	font-family: "Arial";
	font-size: 18px;
	font-weight: bold;
	position: relative;
	text-transform: uppercase;
	&:before{
		content: "";
		@include sized-sprite($icons, title-l);
		position: absolute;
		left: -10px;
		top: 0;
	}
	&:after{
		content: "";
		position: absolute;
		right: -9px;
		top: 0;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 17.5px 0 17.5px 9px;
		border-color: transparent transparent transparent #eb2593;
	}
}
.title_2{
	display: inline-block;
	background: #79caf0;
	color: #221952;
	position: absolute;
	top: -11px;
	left: 0;
	&:before{
		content: "";
		@include sized-sprite($icons, title-l2);
		position: absolute;
		left: -10px;
		top: 0;
	}
	&:after{
		content: "";
		display: inline-block;
		border-width: 0;
		@include sized-sprite($icons, nav_border2); 
	}
}
.title_pic{
	position: absolute;
	top: 12px;
	z-index: 100;
}
.title_2-2{
	display: inline-block;
	background: #79caf0;
	color: #221952;
	position: relative;
	z-index: 100;
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
	&:before{
		content: "";
		@include sized-sprite($icons, title-l2);
		position: absolute;
		left: -10px;
		top: 0;
	}
	&:after{
		content: "";
		display: inline-block;
		border-width: 0;
		@include sized-sprite($icons, nav_border2);
	}
}
.title_red{
	background: #eb2593;
	color: #FFF;
	&:before{
		content: "";
		@include sized-sprite($icons, title-l);
		position: absolute;
		left: -8px;
		top: 0;
	}
	&:after{
		content: "";
		@include sized-sprite($icons, title-r);
		position: absolute;
		right: -8px;
		top: 0;
	}
}
.more{
	font-size: 11px;
	color: #eb2593;
	text-transform: uppercase;
}
.more_db{
	display: block;
	line-height: 1.6;
}
.time{
	font-size: 11px;
	color: #eb2593;
}

.meta{
	padding: 5px 0 2px;
	font-size: 11px;
	color: #777;
	a{
		color: #777;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	a.comments{
		padding-left: 2px;
		&:before{
			content: "";
			@include sized-sprite($icons, comments);
			display: inline-block;
			padding-right: 3px;
			vertical-align: middle;
		}
	}
}

.wrap-button{
	text-align: center;
	.button{
		height: 27px;
		line-height: 27px;
		@include border-radius(4px);
		@include background-clip(padding-box);
		background-color: #8dd2f5;
		color: #000;
		font-size: 11px;
		text-transform: uppercase;
		display: inline-block;
		padding: 0 40px;
		font-weight: bold;
	}
	.button__p0-20{
		padding: 0 20px;
	}
	.button_m3-0-5{
		margin: 5px 0 3px;
	}
	.button_mt19{
		margin-top: 19px;
	}
	.button_interview{
		padding: 0 30px;
		margin-top: 15px;
	}
	.button_mt25{
		margin-top: 25px;
	}
	.button__ico{
		padding: 0 20px 5px 40px;
		background: url(../img/ico_mess.png) 11px 12px no-repeat #8dd2f5;
		line-height: 34px;
		color: #221952;
	}
}
.button_tl{
	text-align: left;
}
.anonse{
	font-size: 12px;
	overflow: hidden;
	margin-bottom: 5px;
	margin-top: 5px;
	.anonse__date{
		@include date;
		padding-right: 15px;
		font-style: normal;
		float: left;
		span{
			color: #777;
			font-size: 11px;
		}
	}
	.anonse__descr{
		width: 200px;
		font-weight: normal;
		float: left;
	} 
	.anonse__descr_w{
		width: auto;
	}
}
.ololo-1{
	height: 20px;
	line-height: 20px;
	padding: 0 3px 0 5px;
	background-color: #a3cbe9;
	color: #221952;
	position: absolute;
	top: 10px;
	left: 0;
	@include box-shadow(2px 3px 0 rgba(0,0,0,.41));
	&:after{
		content: "";
		@include sized-sprite($icons, ololo-border);
		position: absolute;
		top: 0;
		right: -11px;
	}
}
.foto-user .ololo-1_big{
	top: 30px;
	height: 26px;
	font-size: 14px;
	text-transform: uppercase;
	position: absolute;
	line-height: 27px;
	@include box-shadow(0px 3px 0 rgba(0,0,0,.41));
	&:after{
		content: "";
		@include sized-sprite($icons, ololo-border3);
		@include box-shadow(0px 3px 0 rgba(0,0,0,.41));
		position: absolute;
		top: 0;
		right: -9px;
	}
}
.foto-user__meta{
	position: absolute;
	top: 32px;
	right: 4px;
	padding: 0 8px;
	color: #FFF;
	 font-size: 11px;
	 text-transform: uppercase;
	 height: 20px;
	 line-height: 20px;
	 background: #52759f;
}
.super-arrow{
	content: "";
	display: inline-block;
	@include sized-sprite($icons, strelka);
	position: absolute;
	top: 100px;
	left: 161px;
}
.super-arrow_tw{
	top: 140px;
	left: 226px;
}
.my__arrow{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 0 8px 9px;
	border-color: transparent transparent transparent #94c9ee;
}
.sexy-title{
	background: url(../img/sexy-title.png) 0 0 no-repeat;
	background-repeat: repeat-x repeat-y;
	background-size: 100% 100%;
	display: inline-block;
	color: #FFF;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: bold;
	line-height: 39px;
	padding: 0 10px;
	position: relative;
	&:after{
		content: "";
		@include sized-sprite($icons, sexy-title_ar);
		position: absolute;
		bottom: -11px;
		left: 5px;
	}
}
.sexy-title_pos{
	top: -9px;
	left: -22px;
}
.share{
	vertical-align: middle;
	span{
		color: #777;
		font-size: 11px;
		line-height: 1.2;
	}
	.share__item{
		display: inline-block;
		vertical-align: middle;
		margin: 0 1px;
	}
	.share__hz1{
		@include sized-sprite($icons, ico_xz);
	}
	.share__vk{
		@include sized-sprite($icons, ico_vk);
	}
	.share__fb{
		@include sized-sprite($icons, ico_fb);
	}
	.share__tw{
		@include sized-sprite($icons, ico_tw);
	}
	.share__xz2{
		@include sized-sprite($icons, ico_xz2);
	}
	.share__goo{
		@include sized-sprite($icons, ico_goo);
	}
	.share__xz3{
		@include sized-sprite($icons, ico_xz3);
	}
}
.share_mb10{
	margin-bottom: 10px;
}