@mixin date{
	font-size: 12px;
	color: #ca2a8f;
	text-transform: uppercase;
}
.clr{
	clear: both;
}
a{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.title{
	height: 35px;
	line-height: 35px;
	padding: 0 4px 0 2px;
	display: inline-block;
	background: #ca2a8f;
	color: #fff;
	font-family: "Arial";
	font-size: 18px;
	font-weight: bold;
	position: relative;
	text-transform: uppercase;
	&:before{
		content: "";
		@include sized-sprite($icons, title-l);
		position: absolute;
		left: -10px;
		top: 0;
	}
	&:after{
		content: "";
		position: absolute;
		right: -9px;
		top: 0;
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 17.5px 0 17.5px 9px;
		border-color: transparent transparent transparent #ca2a8f;
	}
}
.title_2{
	display: inline-block;
	background: #94c8ee;
	color: #251f51;
	position: absolute;
	top: -11px;
	left: 0;
	&:before{
		content: "";
		@include sized-sprite($icons, title-l2);
		position: absolute;
		left: -10px;
		top: 0;
	}
	&:after{
		content: "";
		display: inline-block;
		border-width: 0;
		@include sized-sprite($icons, nav_border2);
	}
}
.title_pic{
	position: absolute;
	top: 12px;
}
.title_2-2{
	display: inline-block;
	background: #94c8ee;
	color: #251f51;
	position: relative;
	z-index: 100;
	border-bottom: 1px solid #fff;
	margin-bottom: -1px;
	&:before{
		content: "";
		@include sized-sprite($icons, title-l2);
		position: absolute;
		left: -10px;
		top: 0;
	}
	&:after{
		content: "";
		display: inline-block;
		border-width: 0;
		@include sized-sprite($icons, nav_border2);
	}
}
.title_red{
	background: #ca2a8f;
	color: #FFF;
	&:before{
		content: "";
		@include sized-sprite($icons, title-l);
		position: absolute;
		left: -8px;
		top: 0;
	}
	&:after{
		content: "";
		@include sized-sprite($icons, title-r);
		position: absolute;
		right: -8px;
		top: 0;
	}
}
.more{
	font-size: 11px;
	color: #ca2a8f;
	text-transform: uppercase;
}
.time{
	font-size: 11px;
	color: #ca2a8f;
}

.meta{
	padding: 5px 0 2px;
	font-size: 11px;
	color: #777;
	a{
		color: #777;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
	a.comments{
		padding-left: 2px;
		&:before{
			content: "";
			@include sized-sprite($icons, comments);
			display: inline-block;
			padding-right: 3px;
			vertical-align: middle;
		}
	}
}

.wrap-button{
	text-align: center;
	.button{
		height: 27px;
		line-height: 27px;
		@include border-radius(4px);
		@include background-clip(padding-box);
		background-color: #a2d1f3;
		color: #000;
		font-size: 11px;
		text-transform: uppercase;
		display: inline-block;
		padding: 0 40px;
		font-weight: bold;
	}
	.button__p0-20{
		padding: 0 20px;
	}
	.button_interview{
		padding: 0 30px;
		margin-top: 15px;
	}
	.button__ico{
		padding: 0 20px 5px 40px;
		background: url(../img/ico_mess.png) 11px 12px no-repeat #a2d1f3;
		line-height: 34px;
	}
}
.ololo-1{
	height: 20px;
	line-height: 20px;
	padding: 0 3px 0 5px;
	background-color: #a3cbe9;
	color: #251f51;
	position: absolute;
	top: 10px;
	left: 0;
	@include box-shadow(2px 3px 0 rgba(0,0,0,.41));
	&:after{
		content: "";
		@include sized-sprite($icons, ololo-border);
		position: absolute;
		top: 0;
		right: -11px;
	}
}
.super-arrow{
	content: "";
	display: inline-block;
	@include sized-sprite($icons, strelka);
	position: absolute;
	top: 100px;
	left: 161px;
}
.super-arrow_tw{
	top: 140px;
	left: 226px;
}
.my__arrow{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 8px 0 8px 9px;
	border-color: transparent transparent transparent #94c9ee;
}
